@font-face {
    font-family: Bricolage Grotesque;
    src: url(./fonts/BricolageGrotesque-VariableFont_opsz\wdth\wght.ttf);
  }

/* General ----------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --primary-color: #651FFF;
    --secondary-color: #00BCD4;
}

body {
    padding: 0 1.5rem 1.5rem 1.5rem;
    font-size: 1.7rem;
    font-family: 'BricolageGrotesque', Helvetica, Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;
}

a,
a:link {
    color: #000;
    text-decoration: none;
}

/* Navigation --------------------- */

header {
    width: 100%;
    position: sticky; 
    top: 0;
    z-index: 1;
    background-color: #fff;
    padding: 1.5rem 0;
    box-shadow: 0px 10px 15px #fff;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Home Page: Anmiation ------------ */

.animation-container {
    height: 100%;
    margin-top: -21px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 12rem 10rem;
}

/* Morph */
.ani1{
    width: 150px;
    height: 150px;
    background-color: var(--primary-color);
    animation-name: morph;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Spinner */
.ani2 {
    width: 150px;
    height: 150px;
    border: 10px solid var(--secondary-color);
    border-top: 10px solid var(--primary-color);
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* Wiggle */
.ani3 {
    width: 150px;
    height: 150px;
    background-color: var(--primary-color);
    animation-name: wiggle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* Lotus */
.ani4 {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 150px;
    width: 150px;
}
.lotus {
    position: relative;
    background: transparent;
    z-index: 1;
}
.lotus::before, .lotus::after {
    position: absolute;
    top: -75px;
    display: block;
    border-radius: 50%;
    content: "";
    height: 0px;
    width: 0px;
}
.lotus::before {
    animation: lotus-chunk-top 2s ease infinite;
    border: 75px solid var(--secondary-color);
    border-left-color: transparent;
    border-bottom-color: transparent;
}
.lotus::after {
    animation: lotus-chunk-bottom 2s ease infinite;
    border: 75px solid var(--secondary-color);
    border-right-color: transparent;
    border-top-color: transparent;
}

/* Flip */
.ani5{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--primary-color);
    animation-name: flip;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Bounce */
.ani6 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* Orbit */
.ani7 {
    width: 150px;
    height: 150px;
    position: relative;
}
.circle {
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: var(--primary-color);
    top: 15px;
    left: 15px;
}
.orbit {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    top: 0;
    left: 0;
    animation: spin-right 8s linear infinite;
}
.moon {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    top: -10px;
    left: 65px;
}

/* Squares */
.ani8 {
    width: 150px;
    height: 150px;
    position: relative;
}
.ani8 div:nth-of-type(1) {
    width: 75px;
    height: 75px;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    animation: squares1 2s infinite;
}
.ani8 div:nth-of-type(2) {
    width: 75px;
    height: 75px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 0;
    right: 0;
    animation: squares2 2s infinite;
}
.ani8 div:nth-of-type(3) {
    width: 75px;
    height: 75px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    animation: squares3 2s infinite;
}
.ani8 div:nth-of-type(4) {
    width: 75px;
    height: 75px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    right: 0;
    animation: squares4 2s infinite;
}

/* Swing */
.ani9 {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 150px;
    width: 150px;
}
.swing {
    position: relative;
    background: transparent;
    z-index: 1;
}
.swing::before {
    position: absolute;
    top: -75px;
    display: block;
    border-radius: 50%;
    content: "";
    height: 0px;
    width: 0px;
    animation: swing 4s ease infinite;
    border: 75px solid var(--primary-color);
    border-left-color: transparent;
    border-bottom-color: transparent;
}


/* Calm Animation Page ---------- */

.calm-animation-container {
    height: 100%;
    margin-top: -45px; /* ??? worked finde with -21px */
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation {
    width: 200px;
    height: 200px;
    background-color: #00BCD4;
    border-radius: 50%;
    animation-name: animateCircle;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/* About Page ------------------- */

.about-container {
    margin-top: 10rem;
}

.intro {
    font-size: 2.3rem;
    line-height: 3rem;
}

.intro p {
    margin-bottom: 1.8rem;
}

.intro a {
    color: #aa00ff;
}

.go-to-form {
    font-size: 1.8rem;
}

section h2 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 8rem;
}

.section2 div,
.section3 div {
    margin-top: 1.8rem;
}

.section3 p {
    margin-bottom: 0.9rem;
}

/* footer */
footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    padding: 3rem;
}

footer p {
    margin-right: 10rem;
}

form {
    display: flex;
    flex-wrap: wrap;
}

form p {
    margin-right: 10rem;
}

label {
    margin-right: 1rem;
}

input {
    border: 1px solid #000;
    border-radius: 2rem;
    margin-right: 3.2rem;
}

button {
    background-color: #aa00ff;
    color: #fff;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 2rem;
}

/* Media Queries ---------------- */

@media (min-width: 768px) {
    body {
        padding: 0 5.5rem 2rem 5.5rem;
    } 

    .about-container {
        margin-top: 10rem;
        display: grid;
        grid-template-columns: 40% repeat(2, 1fr);
        gap: 4rem;
    }

    section h2 {
        margin-top: 0;
    }
}



/* Animations Front Page ------------ */

/* Morph */
@keyframes morph {
    0%,
    100% {

    } 50% {
        border-radius: 50%;
        background-color: var(--secondary-color);
    }
}

/* Spinner */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Wiggle */
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
}

/* lotus */
@keyframes lotus-chunk-top {
    0%,
    100% {
        transform: rotate(-135deg);
    }
    50% {
        transform: rotate(-225deg);
    }
}
@keyframes lotus-chunk-bottom {
    0%,
    100% {
        transform: rotate(-135deg);
    }
    50% {
        transform: rotate(-45deg);
    }
}

/* Flip */
@keyframes flip {
    0%,
    100% {

    } 50% {
        background-color: var(--secondary-color);
        transform: /* translate(-200px, 200px) */ rotate3d(-1, 1, 0, 180deg);
    }
}
 /* Bounce */
@keyframes bounce {
    0%,
  100% {
    transform: scale(1.2, 0.5);
  }
  20% {
    transform: scaleY(1.2);
  }
  40%,
  80% {
    transform: translateY(-10rem);
  }
  70% {
    transform: translateY(-11rem);
  }
  90% {
    transform: translateY(0);
  }
}

/* Orbit */
@keyframes spin-right {
    100% {
        transform: rotate(360deg);
    }
}

/* Squares */
@keyframes squares1 {
    50% {
        transform: /* translateX(-20px) */ rotate(90deg);
    }
}
@keyframes squares2 {
    50% {
        transform: /* translateX(20px) */ rotate(-90deg);
    }
}
@keyframes squares3 {
    50% {
        transform: /* translateX(-20px) */ rotate(-90deg);
    }
}
@keyframes squares4 {
    50% {
        transform: /* translateX(20px) */ rotate(90deg);
    }
}

/* Swing */
@keyframes swing {
    0%,
    100% { 
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
}


/* Calm Animation ------------------ */

@keyframes animateCircle { 
    20% {
        background-color: #651FFF;
        transform: translate(200px, -200px) rotate(90deg);
        border-radius: 0%;
    }
    40% {
        background-color: #E91E63;
        transform: translate(200px, 200px) rotate(-45deg);
        border-radius: 0%;
    }
    60% {
        background-color: #FDD835;
        transform: translate(-200px, -200px) rotate3d(-1, 1, 0, 180deg);
        border-radius: 0%;
        height: 200px;
        width: 200px;
    }
    80% {
        background-color: #00E676;
        transform: translate(-200px, 200px) rotate3d(-1, 1, 0, 180deg);
        border-radius: 50%;
        height: 150px;
        width: 150px;
    }
    100% {
        
    }
}